// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Datatables BS4
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";

//Base
@import "./base/containers";
@import "./base/buttons";
@import "./base/form";

//Layouts
@import "./layout/Hero";
@import "./layout/Header";
@import "./layout/Services";
@import "./layout/pricesList";

body {
    background-color: $color-white;
}

h1,
h2 {
    font-family: "Abril Fatface", cursive;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#App {
    overflow: hidden;
}
